@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100vh; */
  /* background-color: #e5e5e5; */
}
body {
  background-color: #e5e5e5;
  /* z-index: -1; */
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  background: none;
}
